.custom-button {
  --button-height: 50px;
  text-decoration: none;
  color: var(--main-text-color);
  min-width: 165px;
  width: auto;
  height: var(--button-height);
  line-height: var(--button-height);
  padding: 0 35px 0 35px;
  font-size: 1.1em;
  font-family: "Patua One", sans-serif;
  text-align: center;
  background-color: white;
  transition: transform 0.1s ease;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: calc(var(--button-height) / 2);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
  letter-spacing: 1.5px;

  &:hover,
  &:focus {
    outline: none;
    color: var(--main-text-background);
    transform: scale(1.1);
    filter: drop-shadow(0 2px 0.25rem black);
    background-color: var(--tacos-green);
    transition: all 0.3s ease;
  }

  &.green-btn {
    background-color: var(--tacos-green);
    color: var(--main-text-background);
  }

  &.white-green-outline {
    background-color: var(--main-text-background);
    border: 3px solid var(--tacos-green);
    color: var(--main-text-color);
  }

  &.responsive {
    width: clamp(250px, 70%, 380px);
  }
}
