.modal-overlay {
  position: fixed;
  // width: 100vw;
  // height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-dialog {
    // min-width: min(90%, 400px);
    // min-height: 500px;
    // width: 30%;
    // height: 50%;
    background-color: var(--main-text-background);
    border-radius: 10px;
    overflow-x: hidden;
    position: relative;

    .modal-close {
      padding: 5px;
      margin: 0;
      border: 0;
      font-size: 1.3125rem;
      position: absolute;
      top: 0;
      right: 0;
      float: right;
      background-color: var(--main-text-background);
      // background-color: skyblue;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-body {
      text-align: center;
      padding-top: calc(5px * 2 + 1.3125rem);

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;

      h2 {
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 1.5px;
        line-height: 1.5rem;
        margin: auto;
      }

      .modal-btn-grp {
        margin-top: 2rem;
        height: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .delivery-icon {
          max-height: 1.3rem;
          margin: 10px;
        }
      }

      @media screen and (min-width: 768px) {
        padding: calc(5px * 2 + 1.3125rem) 1.5rem 0;
      }
    }

    @media screen and (max-width: 47.9375rem) {
      margin: 0;
      bottom: 0;
      position: absolute;
      width: 100%;
      max-height: 100%;
      // min-height: 50%;
      border-radius: 0px;

      .modal-close {
        border-radius: 0px;
      }
    }
  }
}
